.block-subtitle {
  font-weight: bold;
  color: #63d1bb;
  font-size: 1.7rem;
  line-height: 1.2;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .block-subtitle {
    max-width: 85px;
    text-align: center;
    line-height: 1;
  }
}
