.goods {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 35px;
  background: url(../images/goods/zigzag-line-desktop.svg);
  background-repeat: repeat-x;
  background-position: bottom;
}

.goods__titles {
  margin-bottom: 30px;
}

.goods__description {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #444;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: normal;
  margin-bottom: 35px;
}
