.header {
  padding-top: 90px;
}
.header__top {
  border-bottom: 1px solid #ececec;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
}
