.main-goods {
  padding-top: 35px;
  padding-bottom: 35px;
}

.main-goods__titles {
  margin-bottom: 30px;
}

.main-goods__description {
  font-family: "Open Sans", sans-serif;
  color: #444;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: normal;
}
