.main-nav {
  position: fixed;
  top: 85px;
  left: 0px;
  width: 100%;
  height: auto;
  text-align: center;
}

.main-nav__btn {
  position: fixed;
  top: 35px;
  right: 30px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  & span {
    display: block;
    height: 2px;
    margin-bottom: 4px;
    background-color: #000;
    transition: all 0.3s;
  }
}

.main-nav__btn.open {
  & span:nth-child(2) {
    display: none;
  }

  & span:first-child {
    transform: rotate(405deg);
  }

  & span:last-child {
    transform: rotate(-405deg) translate(4px, -4px);
  }
}

.main-nav__list {
  z-index: 9999;
  list-style: none;
  background: #fff;
}

.main-nav__item {
  padding: 30px;
  border-bottom: 1px solid #ececec;
}

.main-nav__link {
  display: block;
  position: relarive;
  text-decoration: none;
  color: #000;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.4;
  transition: all 0.3s;

  &:hover,
  &:focus {
    color: #9f9f9f;
  }

  &:active {
    color: #bdbdbd;
  }
}

