.main-nav {
  position: fixed;
  top: 90px;
  left: 0px;
  width: 100%;
  height: auto;
}

.main-nav__btn {
  position: fixed;
  top: 35px;
  right: 30px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  & span {
    display: block;
    height: 2px;
    margin-bottom: 4px;
    background-color: #000;
    transition: all 0.3s;
  }
}

.main-nav__btn.open {
  & span:nth-child(2) {
    display: none;
  }

  & span:first-child {
    transform: rotate(405deg);
  }

  & span:last-child {
    transform: rotate(-405deg) translate(4px, -4px);
  }
}

.main-nav__list {
  display: none;
  opacity: 0;
  height: 0px;
  overflow: hidden;
  list-style: none;
  background: #fff;
}

.main-nav__list.main-nav__list--show {
  animation: hide-menu 0.4s linear forwards;
  display: block;
}

@keyframes hide-menu {
  0% {
    height: 0px;
    opacity: 0;
  }

  100% {
    height: auto;
    opacity: 1;
  }
}

.main-nav__item {
  position: relative;
  padding: 30px;
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.main-nav__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-decoration: none;
  text-align: center;
  line-height: 80px;
  color: #000;
  font-size: 1.7rem;
  font-weight: 600;
  transition: all 0.3s;

  &:hover,
  &:focus {
    color: #9f9f9f;
  }

  &:active {
    color: #bdbdbd;
  }
}

.main-nav__link--search {
  &::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 0px;
    bottom: 0px;
    width: 20px;
    background: url(../images/main-nav/search.svg) no-repeat center/contain;
    filter: grayscale(100%);
  }
}

.main-nav__link--bucket {
  &::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 0px;
    bottom: 0px;
    width: 20px;
    background: url(../images/main-nav/cart.svg) no-repeat center/contain;
    filter: grayscale(100%);
  }
}

.main-nav__link--search:hover,
.main-nav__link--bucket:hover,
.main-nav__link--search:focus,
.main-nav__link--bucket:focus {
  &::before {
    filter: grayscale(0%);
  }
}

.main-nav__link--search:active,
.main-nav__link--bucket:active {
  &::before {
    opacity: 0.5;
  }
}

@media (min-width: 768px) {
  .main-nav {
    position: relative;
    top: initial;
    left: initial;
    width: 100%;
    height: auto;
  }
  .main-nav__btn {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    opacity: 1;
    height: auto;
    background: transparent;
  }

  .main-nav__item {
    border-bottom: initial;
  }
}
