.response {
  padding-bottom: 45px;
  margin-bottom: 40px;
  background: url(../images/goods/zigzag-line-desktop.svg);
  background-repeat: repeat-x;
  background-position: bottom;
}
.response__list {
  list-style: none;
}

.response__item {
  display: none;
  margin-bottom: 40px;

  &.response__item--active {
    display: block;
  }
}
.response__item .txt {
  font-size: 1.5rem;
  line-height: 2em;
  font-weight: 500;
  margin-bottom: 70px;
}

.response__buttons {
  display: flex;
  margin-bottom: 35px;
  justify-content: space-between;
  & .btn {
    border: 1px solid #ececec;

    &:focus {
      border: 1px solid #63d1bb;
    }

    &:hover,
    &:focus {
      background: transparent;

      & svg {
        fill: #666;
      }
    }

    &:active {
      & svg {
        fill: #b2b2b2;
      }
    }
  }
}

@media (min-width: 768px) {
  .response {
    padding-bottom: 75px;
    margin-bottom: 60px;
    background: url(../images/response/review.jpg),
      url(../images/goods/zigzag-line-desktop.svg);
    background-repeat: no-repeat, repeat-x;
    background-position: left top, bottom;
  }

  .response__item .txt {
    font-size: 1.7rem;
    line-height: 1.76;
    font-weight: 500;
    margin-bottom: 70px;
  }

  .response__buttons {
    float: right;
    width: 170px;
    & .btn {
      border: none;
    }
  }
}
