.social {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.social__item {
  margin-right: 40px;

  & .social__link {
    display: block;
    text-decoration: none;
    padding: 5px;

    & svg {
      transition: all 0.3s;
    }

    &:hover svg,
    &:focus svg {
      fill: #71cdbf;
      cursor: pointer;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

@media (min-width: 768px) {
  .social {
    border-bottom: none;
  }
}
